<div layout="column" ng-cloak>
  
    <md-content flex layout-padding>
        <div layout-gt-sm="row">

            <md-input-container class="md-block" flex-gt-sm>
                <label>Nome</label>
                <input disabled name="nome" ng-model="company.nome" />
            </md-input-container>

            <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
            </div>

            <md-input-container class="md-block" flex-gt-sm>
                <label>CNPJ</label>
                <input disabled name="cnpj" ng-model="company.cnpj" />
            </md-input-container>

        </div>
        
        <div layout-gt-sm="row">
        
            <md-input-container class="md-block" flex-gt-sm>
                <label>Email</label>
                <input disabled name="email" ng-model="company.email" />
            </md-input-container>

            <div flex="5" hide-xs hide-sm>
            <!-- Spacer //-->
            </div>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Nome Fantasia</label>
                <input disabled name="nomeFantasia" ng-model="company.nomeFantasia" />
            </md-input-container>
                    
        </div>
    </md-content>

  </div>