<div ng-cloak>
    <md-content class="md-padding" ng-cloak>
        <div flex>
            <h1 class="md-title">Filtros</h1>
            <div layout="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Colaborador</label>
                    <md-select ng-model="search.idColaborador" >
                        <md-option ng-value="item.uid" ng-repeat="item in salers">{{item.displayName}}</md-option>
                    </md-select>
                </md-input-container>

                <div flex="5" hide-xs hide-sm>
                <!-- Spacer //-->
                </div>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Data</label>
                    <input type="text" name="dataHora" ng-model="search.dataHora" parse="false" ui-date-mask />
                </md-input-container>
            </div>
            <div >Total de Registro: {{items.length}}</div>
        </div>
    </md-content>
    <md-content>
        <md-list flex>
            <md-list-item class="md-3-line" ng-repeat="item in items = (logs | filter:search)" ng-click="null">
                <div class="md-list-item-text" layout="column">
                    <h4><b>Data e hora: </b>{{ item.dataHora }}</h4>
                    <h4><b>Colaborador: </b>{{ salerLog(item.idColaborador) }}</h4>
                    <h4><b>Mensagem: </b>{{ item.mensagem }}</h4>
                    <h4><b>Telefone: </b>{{ item.numero }}</h4>
                </div>
            </md-list-item>
        </md-list>
        
    </md-content>

</div>